<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>My Virtual Pet!</title>
</head>
<body>
    <div class="container">
        <h1>O Noes!</h1>
        <img src="img/memorial.jpg" alt="Sniff sniff" />
        <h2>{{ yourPet.getName }} has become "sick" after {{ turns }} turns under your care.</h2>
        <p>You are a bad person. <a href="/reset">Click here</a> to start with a new pet.</p>
    </div>
</body>
</html>
