<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>My Virtual Pet!</title>
</head>
<body>
    <div class="container">
        <h1>Name Your New Pet!</h1>
        <form action="/new_pet" method="post">
            <div class="form-group">
                <label for="petName">What's the little bugger called?</label>
                <input type="text" name="petName" id="petName" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-info">Let's Get Started!</button>
        </form>
    </div>
</body>
</html>
